.displayin{
    border: none;
    outline: none;
    /* color: white; */
   overflow: hidden;
   width: 100%;
   height: 105px;
   font-size: 1.4em;
   border-radius: 10px;
   box-shadow: 0 5px 10px rgb(124, 194, 92);
}
.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0 5px; */
    background-color: #626262;
    padding:20px 12px ;
}
.button button{
    width: 55px;
    height: 65px;
    padding: 10px;
    border: none;
    box-shadow: 0 5px 10px black;
    background-color: #e0e0e0;
    margin: 5px;
        font-weight: bold;
        border-radius: 10px;
}
.button button:hover {
    background-color:#ff5353;
  }
